/*header*/
.logo-container > img{
    width: 250px;
    margin: 12px;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}
.nav-container > ul{
    display: flex;
}
.nav-container > ul > li{
    margin: 12px;
    font-size: 23px;
    list-style: none;
}

/*Card*/
.restaurant-card{
    border: 1px solid black;
    width: 350px;
    height: 350px;
    padding: 10px;
}
.food-img{
    width: 350px;
    height: 248px;

}
.name-rating{
    display: flex;
    justify-content: space-between;
}
.category-price{
    display: flex;
    justify-content: space-between;
}
.name-rating{
    height: 30px;
}
.category-price{
    height: 30px;
}
